<ion-header [translucent]="true">
  <ion-toolbar  >
    <ion-img class="logo" src="https://inndustrial.com/storage/usuarios/images/large/15982867685f43ebb022ebf.png"alt="The"></ion-img>
    <ion-title slot="end"><ion-icon   
      name="exit-outline" size="large"    (click)="irAPagina('home')"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="admin">
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <div>
          <ion-card class="menu">
            <ion-button color="light" expand="full" (click)="irAPagina('timbrar')"><span class="subrayado">Control Horarios</span></ion-button>
            <ion-button color="light" expand="full" (click)="irAPagina('horarios')">Control Horarios
            </ion-button>
            <ion-button color="light" expand="full" (click)="irAPagina('caja')">Cierre Caja</ion-button>
          </ion-card>
      </div>
    </ion-col>
      <ion-col>   <ion-button  color="light" (click)="irAPagina('nuevo-mensajero')">agregar</ion-button>
        <div class="contenido">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card>
                  <ion-item>
                    <ion-label position="fixed" style="width: 80px;" >Nombre operedor:</ion-label>
                    <ion-input  [(ngModel)]="usuario" ></ion-input>
                  </ion-item>
                </ion-card>
                <ion-card>
                  <ion-item>
                    <ion-label position="fixed" style="width: 80px;" >Hora ingreso</ion-label>
                    <ion-input  [(ngModel)]="horaIngreso" ></ion-input>
                  </ion-item>
                </ion-card>
              </ion-col>
              
              
              <ion-col>
                <ion-card>
                  <ion-item>
                    <ion-label position="fixed" style="width: 80px;">Cedula operador :</ion-label>
                    <ion-input [(ngModel)]="cedula" (keyup)="actualizarHoraRegistro()" ></ion-input>
                  </ion-item>
                </ion-card>
                <ion-card>
                  <ion-item>
                    <ion-label position="fixed" style="width: 80px;">2º corte</ion-label>
        <ion-input [(ngModel)]="segundoCorte"></ion-input>
                  </ion-item>
                </ion-card>
                

              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  